*{
	box-sizing: border-box;
	margin: 0px;
	
	direction: rtl;
}



.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


[class*="col-"]{
	float: left;
}

.row::after {
	content: "";
  clear: both;
  display: block;
}



.ls{
	
	
	position: relative;
	
	font-family: 'Yekan Bakh';
	font-style: normal;
}

.rs{
	background-color: #FFFFFF;
	height: 100vh;
	position: relative;

}

#rtitr{
	position: absolute;
	
	
	
	left: calc(50% - 62.5px);
	top: 173px;

	font-family: 'Yekan Bakh';
	font-style: normal;
	font-weight: 700;
	font-size:16px;
	line-height: 25px;

	display: flex;
	align-items: center;
	text-align: center;
	letter-spacing: 0.01em;

	color: #2D325C;
}





#vorood{
	position: absolute;
	top: 232px;
	left: 50%;
	text-decoration: none;

	
	padding: 0px 85px 12px;

	font-family: 'Yekan Bakh';
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 24px;
	color: #143235
}

#vorood:hover{
	color: #00A6B6;
	border-bottom: solid 2px #00A6B6;
}



#sabtenam{
	position: absolute;
	top: 232px;
	right: 50%;
	text-decoration: none;

	
	padding: 0px 85px 12px;

	font-family: 'Yekan Bakh';
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 24px;
	color: #143235
}

#sabtenam:hover{
	color: #00A6B6;
	border-bottom: solid 2px #00A6B6;
}


.formm{
	position: absolute;
	top: 295px;
	right: 15%;
	
	font-family: 'Yekan Bakh';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 22px;
	color: #143235
	
}

.in{
	width: 29vw;
	height: 45px;
	direction: ltr;

	background: #FCFDFE;
	border: 1px solid #00A6B6;
	border-radius: 4px;
	padding: 5px;

}

input[type=submit]{
	
	width: 29vw;
	background: #00A6B6;
	color: #fff;
	border: 1px solid #00A6B6;
	border-radius: 4px;
	padding: 15px;
	cursor: pointer;
}

#ramz{
	text-decoration: none;
	color: #00A6B6;
	position: absolute;
	right: 22vw;
	
}

#copy{
	position: absolute;
	
	top: 640px;
	right: calc(50% - 112px);

	color: #9698AD;
	font-family: 'Yekan Bakh';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	
}


.ltop{
	height: 490px;
	background-color: #00A6B6;
	position: relative;
}

.lbottom{
	height: 167px;
	background-color: #006A7A;
	position: relative;
	
}

#t1{
	position: absolute;
	top: 160px;
	left: calc(50% - 72.5px);


	font-weight: 500;
	font-size: 19px;
	line-height: 29px;
	

	color: #F9F9FA;
}

#t2{
	position: absolute;
	top: 190px;
	left: calc(50% - 72.5px);

	font-weight: 700;
	font-size: 20px;
	line-height: 31px;

	color: #F9F9FA;
}

#logo{
position: absolute;

height: 250px;
left: 25%;
right: 25%;
top: 238px;


background: #FFFFFF;
border-width: 14px 17px 25px 17px;
border-style: solid;
border-color: #E9E9E9;
border-radius: 13px;
box-shadow: 0px 11px 12px rgba(0, 0, 0, 0.16);
}


#shadow{
	position: absolute;
	
	left: 9vw;
	right: 9vw;
	top: 479px;
	
	border-bottom: solid 14px #CBCBCB;
	border-radius: 42%;
}


#img{
	position: absolute;
	left: 30%;
	right: 30%;
	top: 10vh;


	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 17px;

	color:  #323232;
}

#t3{
	position: absolute;
	top: 25px;
	right: 20%;
	left: 20%;

	

	font-weight: 700;
	font-size: 18px;
	text-align: center;

		
	
	color: #fff;
}

#t4{
	position: absolute;
	top: 50px;
	right: 5%;
	left: 5%;

	font-weight: 400;
	font-size: 16px;
	text-align: center;
	
	color: #fff;
}



@media only screen and (max-width: 768px) {
  [class*="col-"] {
    width: 100%;
	}

	.formm{
		position: absolute;
		right: 20vw;
	}


	.formm .in,input[type=submit]{
		width: 60vw;
	}

	#ramz{
		position: absolute;
		right: 44vw;
	}


}